#wrapper {
    width: 1280px;
    height: 720px;
    border: 1px solid black;
    overflow: auto;
}

#map {
	float:left;
	width: 800px;
    height: 600px;
}

#selected_markers_buttons {
    position:absolute;
    top: 50px;
    left:900px;
}

#database_markers_buttons {
    position:absolute;
    top: 80px;
    left:900px;
}

#calculate_distance_button {
    position:absolute;
    top: 110px;
    left:850px;
}

#distance_table {
    position:absolute;
    top:150px;
    left:850px;
}

.leaflet-div-icon1
{
  background:red;
  border:5px solid rgba(60,120,200,0.5);
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:100%;
  line-height:30px;
}


.leaflet-div-icon2
{
  background:red;
  border:5px solid rgba(255,255,255,0.5);
  color:blue;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
}
